@page "/kanji/edit/{id:int}"
@model Web.Pages.Kanjis.EditModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Edit Kanji</h3>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <form method="post" id="kanji-form">
        <div class="form-row">
            <div class="col-md-6">
                <span class="large-kanji">@Model.Kanji.Character</span>
                <input type="hidden" asp-for="Kanji.Id" />
                <input type="hidden" asp-for="Kanji.Character" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <div class="row justify-content-between mb-3">
                    <div class="col-md my-auto">
                        <span>Readings</span>
                    </div>
                    <div class="col-md text-right">
                        <button id="add" class="btn btn-primary">Add reading</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" id="reading-list">
                @{
                    if (Model.Kanji.Readings.Count > 0)
                    {
                        for (int i = 0; i < Model.Kanji.Readings.Count; i++)
                        {
                            <div class="form-row @(i > 0 ? "mt-1" : null)">
                                <div class="col-md-2">
                                    <select asp-for="Kanji.Readings[i].TypeId" asp-items="@(new SelectList(Model.ReadingTypes, "Id", "Label"))" class="form-control" disabled="@Model.LockedReadings[i]"></select>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="items form-control" asp-for="Kanji.Readings[i].Label" disabled="@Model.LockedReadings[i]" />
                                </div>
                            </div>
                            <input type="hidden" asp-for="Kanji.Readings[i].Id" />
                            <input type="hidden" asp-for="Kanji.Readings[i].KanjiId" />
                            <span asp-validation-for="Kanji.Readings[i].TypeId" class="error"></span>
                            <span asp-validation-for="Kanji.Readings[i].Label" class="error"></span>
                        }
                    }
                }
            </div>
        </div>
        
        <input class="btn btn-primary" type="submit" value="Update" />
        <a class="btn btn-secondary" asp-page="Index">Back</a>
    </form>
    
</div>

@section Scripts {
    <script>
        $(function () {
            $("#add").click(function (e) {
                e.preventDefault();

                var i = $(".items").length;

                var readingTypeDropDownHTML = `@{<select asp-for="Kanji.Readings[0].TypeId" asp-items="@(new SelectList(Model.ReadingTypes, "Id", "Label"))" class="form-control"></select> }`;
                var readingTypeDropDown = $.parseHTML(readingTypeDropDownHTML);
                $(readingTypeDropDown).attr("id", $(readingTypeDropDown).attr("id").replace("0", i));
                $(readingTypeDropDown).attr("name", 'Kanji.Readings[' + i + '].TypeId');
                $("option", readingTypeDropDown).removeAttr("selected");

                var readingTextboxHTML = '<input type="text" class="items form-control" name="Kanji.Readings[' + i + '].Label" />';
                var readingTextbox = $.parseHTML(readingTextboxHTML);

                var readingTypeDiv = $('<div class="col-md-2">');
                $(readingTypeDiv).append(readingTypeDropDown);

                var readingDiv = $('<div class="col-md-4">');
                $(readingDiv).append(readingTextbox);

                var mainDiv = $('<div class="form-row mt-1">');
                $(mainDiv).append(readingTypeDiv);
                $(mainDiv).append(readingDiv);
                $("#reading-list").append(mainDiv);
            });
        });
    </script>
}
