@page "{handler?}/{wordListId:int?}"
@model Web.Pages.Vocabulary.Tests.QuickTestModel
@using Core.Entities.VocabularyAggregate;
@using Core;
@{
}

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-4">
            <h3>Quick Test</h3>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-secondary" asp-page="@Url.RouteUrl(ViewContext.RouteData.Values)">New Test</a>
        </div>
    </div>
</div>

<hr />

<div class="container">
    <div>
        <form method="post">
            <h4>Kanji > Hiragana</h4>

        @if(Model.WordsToFillInHiragana.Count == 0){
            <div class="row">
                <div class="col-md-2 col-form-label d-flex justify-content-center">
                    <label>-</label>
                </div>
            </div>
        }
        
        @for(int i=0; i < Model.WordsToFillInHiragana.Count; i++)
        {
            <div class="row">
                <div class="col-md-2 col-form-label d-flex justify-content-end">
                    <label>@Model.WordsToFillInHiragana[i].Label :</label>
                </div>
                <div class="col-md-auto">
                    <div class="input-group mb-3 d-inline-flex align-items-center w-auto">
                    @if (Model.WordsToFillInHiragana[i].SplittedWord[0].Length > 0)
                    {
                        <div class="input-group-prepend">
                            <span class="input-group-text">@Model.WordsToFillInHiragana[i].SplittedWord[0]</span>
                        </div>
                    }

                    @{
                        string inputSize = $"{25 * Model.WordsToFillInHiragana[i].Answer.Length + 15}px";
                        string validationCss = "";

                        if(Model.UserHiraganaAnswers != null){
                            bool isCorrect = Model.UserHiraganaAnswers[i] == Model.WordsToFillInHiragana[i].Answer ? true : false;
                            validationCss = isCorrect ? "correct-input" : "wrong-input";

                            if(!isCorrect)
                                Model.AtLeastOneMistake = true;
                        }
                    }
                        <input type="text" class="form-control @validationCss" style="width:@inputSize;" asp-for="UserHiraganaAnswers[i]" />

                    @if (Model.WordsToFillInHiragana[i].SplittedWord[1].Length > 0)
                    {
                        <div class="input-group-append">
                            <span class="input-group-text">@Model.WordsToFillInHiragana[i].SplittedWord[1]</span>
                        </div>
                    }                  
                    </div>
                </div>
                
                @if (Model.KanjiToHiraganaFullAnswers != null && Model.UserHiraganaAnswers[i] != Model.WordsToFillInHiragana[i].Answer)
                {
                    <div class="col-md-2 col-form-label answer" style="display:none;">
                        <label class="correct-input">@Model.KanjiToHiraganaFullAnswers[i]</label>
                    </div>
                }
                
                <input type="hidden" asp-for="WordsToFillInHiragana[i].WordId">
                <input type="hidden" asp-for="WordsToFillInHiragana[i].SplitIndex">
            </div>
        }
        
            <hr />
            <h4>Hiragana > Kanji</h4>

        @if (Model.WordsToFillInKanji.Count == 0)
        {
            <div class="row">
                <div class="col-md-2 col-form-label d-flex justify-content-center">
                    <label>-</label>
                </div>
            </div>
        }

        @for (int i = 0; i < Model.WordsToFillInKanji.Count; i++)
        {
            <div class="row">
                <div class="col-md-2 col-form-label d-flex justify-content-end">
                    <label>@Model.WordsToFillInKanji[i].Label :</label>
                </div>
                <div class="col-md-auto">
                    <div class="input-group mb-3 d-inline-flex align-items-center w-auto">
                    @if (Model.WordsToFillInKanji[i].SplittedWord[0].Length > 0)
                    {
                        <div class="input-group-prepend">
                            <span class="input-group-text">@Model.WordsToFillInKanji[i].SplittedWord[0]</span>
                        </div>
                    }

                    @{
                        string inputSize = $"{25 * Model.WordsToFillInKanji[i].Answer.Length + 15}px";
                        string validationCss = "";

                        if(Model.UserKanjiAnswers != null){
                            bool isCorrect = Model.UserKanjiAnswers[i] == Model.WordsToFillInKanji[i].Answer ? true : false;
                            validationCss = isCorrect ? "correct-input" : "wrong-input";

                            if(!isCorrect)
                                Model.AtLeastOneMistake = true;
                        }
                    }

                        <input type="text" class="form-control @validationCss" style="width:@inputSize;" asp-for="UserKanjiAnswers[i]" />
                        
                    @if (Model.WordsToFillInKanji[i].SplittedWord[1].Length > 0)
                    {
                        <div class="input-group-append">
                            <span class="input-group-text">@Model.WordsToFillInKanji[i].SplittedWord[1]</span>
                        </div>
                    }
                    </div>
                </div>
                
                @if (Model.HiraganaToKanjiFullAnswers != null && Model.UserKanjiAnswers[i] != Model.WordsToFillInKanji[i].Answer)
                {
                    <div class="col-md-2 col-form-label answer" style="display:none;">
                        <label class="correct-input">@Model.HiraganaToKanjiFullAnswers[i]</label>
                    </div>
                }

                <input type="hidden" asp-for="WordsToFillInKanji[i].WordId">
                <input type="hidden" asp-for="WordsToFillInKanji[i].SplitIndex">
            </div>           
        }
        
            <button type="submit" class="btn btn-primary">Submit</button>
        
        @if(Model.AtLeastOneMistake){
            <button type="button" class="btn btn-success" id="displayAnswers" onclick="toggleAnswersDisplay()">Display answers</button>
        }
        </form>
    </div>
</div>

@section scripts {
    <script>
        function toggleAnswersDisplay() {
            if ($('.answer').is(":hidden")) {
                $('.answer').show();
                $('#displayAnswers').html('Hide answers');
            }
            else {
                $('.answer').hide();
                $('#displayAnswers').html('Display answers');
            }
        }

        $(".correct-input, .wrong-input").change(function () {
            $(this).attr("class", "form-control");
        });
    </script>
}
